@import url('https://fonts.googleapis.com/css?family=Poppins');
$primarycolor: #F40B42;
.container--toppad {padding-top: 50px;}
.top__hero {height: 100vh; }
.top__hero--bold {font-weight: 600;}
.about--bold {font-weight: 600;}